*{
    font-family: 'VT323', monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 37);
    margin-top: -30px;
}

h1{
    font-size: 70px;
    color: black;
    text-shadow: 5px 5px white;
}

.btns{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 50px;
    justify-content: space-evenly;
}

button{
    width: 80px;
    font-size: 30px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

.colorAndPrompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-shadow: 2px 2px white;
}

#color{
    margin-top: 5px;
    margin-bottom: -20px;
    width: 80px;
    height: 30px;
    box-shadow: 3px 3px;
}

#color:hover{
    transform: scale(1.1);
}

#color:active{
    transform: scale(1.2);
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(1.2);
}

#rgb{
    background: linear-gradient(to right, #D291BC, #E0BBE4, #FEC8D8);
}

.sliderAndValue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#slider{
    -webkit-appearance: none;
    background: black;
    outline: none;
    border-radius: 50px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    background: white; 
    border-radius: 50px;
}

#slider::-moz-range-thumb{
    width: 25px; 
    height: 25px; 
    background: white; 
    border-radius: 50px;
}

.value{
    font-size: 30px;
    padding-left: 10px;
    color: black;
    text-shadow: 2px 2px white;

}

.grid{
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10px;
}

.cell{
    background-color: white;
    border: 1px solid black;
}

footer{
    font-size: 25px;
    bottom: 0;
    justify-content: center;
    padding-top: 50px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#gh-logo{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 10px;
}



